<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @skill.info %>
</p>

<p>
  <strong>Member:</strong>
  <%= @skill.member_id %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
