<h1 class="display-4">All Users</h1>
  <p></p>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Admin?</th>
        <th scope="col">Subscribed?</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td></a><%= user.email %></td>
          <td><%= user.admin? %></td>
          <td>
            <% if user.subscribed? %>
              <i class="fas fa-check-square" style="color: Dodgerblue;"></i>
            <% else %>
              <i class="fas fa-times-circle" style="color: Tomato;"></i>
            <% end %>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to '<i class="fas fa-folder-open"></i>'.html_safe, all_user_path(user), :class => 'btn btn-primary' %>
              <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_all_user_path(user), :class => 'btn btn-success' if current_user.admin %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to '<i class="fas fa-plus"></i> Add new user'.html_safe, all_users_new_path, :class => 'btn btn-primary' %>