<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <%= link_to ' BIO<b>MEDICAL</b>'.html_safe, root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-sliders-h"></i> Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to '<i class="fas fa-users"></i> Members'.html_safe, members_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
                <%= link_to '<i class="fas fa-info-circle"></i> Help'.html_safe, root_path, class: 'dropdown-item' %>
              </div>
          </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user %>
                <i class="far fa-user-circle"></i> <%= current_user.email %>
              <% else %>
                Account
              <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if current_user %>
                <%= link_to '<i class="fas fa-cogs"></i> Account Settings'.html_safe, edit_user_registration_path, class: 'dropdown-item' %>
                <%= link_to '<i class="fas fa-sign-out-alt"></i> Sign out '.html_safe, destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              <% else %>
                <%= link_to 'Login', new_user_session_path, class: 'dropdown-item' %>
                <%= link_to 'Sign up', new_user_registration_path, class: 'dropdown-item' %>
              <% end %>
          </li>
        </ul>
    </div>
</nav>