<!-- Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@member) do |f| %>
      <div class="modal-body">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.input :active, label: 'Public Profile' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.input :fn, label: 'First Name' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.input :ln, label: 'Last Name' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.input :phone, label: 'Phone' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.input :email, label: 'Email' %>
          </div>
           <% if current_user && current_user.admin? # only admins can change a member's position whatsoever %>
          <div class="form-group col-md-12">
              <label for="position_id">User Email</label>
              <%= f.collection_select(:user_id, User.all.order("email ASC"), :id, :email, {:include_blank => false}, {:class => 'form-control'}) %>
          </div>
          <% end %>
          <div class="form-group col-md-6">
            <%= f.input :photo, label: 'Photo Link' %>
          </div>
          <div class="form-group col-md-6">
            <% if current_user && current_user.admin? # only admins can change a member's position whatsoever %>
              <label for="position_id">position</label>
              <%= f.collection_select(:position_id, Position.all.order("name ASC"), :id, :name, {:include_blank => false}, {:class => 'form-control'}) %>
            <% end %>
          </div>
          <div class="form-group col-md-12">
            <%= f.input :about, label: 'About' %>
          </div>
          <div class="form-group col-md-12">
            <%= f.input :interests, label: 'Interests' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.input :address, label: 'Address' %>
          </div>
          <div class="form-group col-md-2">
            <%= f.input :city, label: 'City' %>
          </div>
          <div class="form-group col-md-2">
            <%= f.input :zip, label: 'zipcode' %>
          </div>
          <div class="form-group col-md-2">
                  <%= f.input :state, priority: [ "TX" ],
                  collection: ['AL', 'AK', 'AS', 'AZ', 
                  'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 
                  'FM', 'FL', 'GA', 'GU', 'HI', 'ID', 
                  'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 
                  'ME', 'MH', 'MD', 'MA', 'MI', 'MN', 
                  'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 
                  'NJ', 'NM', 'NY', 'NC', 'ND', 'MP', 
                  'OH', 'OK', 'OR', 'PW', 'PA', 'PR', 
                  'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 
                  'VT', 'VI', 'VA', 'WA', 'WV', 'WI', 
                  'WY', 'AE', 'AA', 'AP'] %>
            </div>
          <div class="form-group col-md-6">
              <%= f.input :linkedin, label: 'Linkedin', placeholder: 'ex. http://linkedin.com' %>
          </div>
          <div class="form-group col-md-6">
              <%= f.input :github, label: 'Github', placeholder: 'ex. http://github.com' %>
          </div>
          <div class="form-group col-md-6">
              <%= f.input :twitter, label: 'Twitter', placeholder: 'ex. http://twitter.com' %>
          </div>
          <div class="form-group col-md-6">
              <%= f.input :facebook, label: 'Facebook', placeholder: 'ex. http://facebook.com' %>
          </div>
          <div class="form-group col-md-6">
              <%= f.input :instagram, label: 'Instagram', placeholder: 'ex. http://instagram.com' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.button :submit, :class => 'btn btn-primary' %>
      </div>
      
        <% end %>
    </div>
  </div>
</div>