<h1>Members</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">User</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.fn %></td>
        <td><%= member.ln %></td>
        <td><%= member.email %></td>
        <td>
          <%= @users.find(member.user_id).email %>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to '<i class="fas fa-eye"></i>'.html_safe, member, :class => 'btn btn-primary' %>
            <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_member_path(member), :class => 'btn btn-success' if current_user.admin %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, member, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' if current_user.admin %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<i class="fas fa-user-plus"></i> Add Member'.html_safe, new_member_path, :class => 'btn btn-success' if current_user.admin %>
